include README.rst
include LICENSE.txt
include buildout.cfg
include bootstrap.py
recursive-include docs *
recursive-include patches *
recursive-include gstudio/fixtures *.json
recursive-include gstudio/locale *
recursive-include gstudio/static *
recursive-include gstudio/templates *.txt *.html *.xml *.js

recursive-include objectapp/fixtures *.json
recursive-include objectapp/locale *
recursive-include objectapp/static *
recursive-include objectapp/templates *.txt *.html *.xml *.js

#prune docs/api
#prune docs/build
#prune docs/coverage
prune gstudio/static/gstudio/css/.sass-cache
prune gstudio/static/attributeapp/css/.sass-cache
prune gstudio/static/relationapp/css/.sass-cache
