{% load objectapp_tags i18n %}

{% for crumb in breadcrumbs %}
{% if not forloop.last %}
<a href="{{ crumb.url }}" title="{{ crumb.name }}">{{ crumb.name }}</a> {{ separator }}
{% else %}
  {{ crumb.name }}
{% endif %}
{% endfor %}
<div class="objectbreadcrumbsearch">
  <form method="get" id="searchform" action="{% url nodes_search %}">
    <p>
      <input type="text" value="{% trans "Keywords..." %}" name="pattern" id="searchbox" onfocus="this.value=''" />
      <input type="submit" class="submitbutton" value="OK" />
      <a title="{% trans 'You can use - to exclude words or phrases, &quot;double quotes&quot; for exact phrases and the AND/OR boolean operators combined with parenthesis for complex searchs.' %}">
        <img src="/static/objectapp/img/help.png" alt="?" width="14" height="14" />
	 <a href="{% url objectapp_gbobject_latest_feed %}" class="feeds" title="Rssfeed"><img src="/static/objectapp/img/rss.png" alt="?" width="20" height="" /></a>
      </a>
    </p>
  </form>
</div>
