{% load gstudio_tags %}


<div id="relndiv">
<br/>
<b>Existing Relations for this page: </b>
        {% if not meetingob.get_relations_for_view.items %}
            No relations
        {% endif %}
        {% for key,value in meetingob.get_relations.items %}
        {{key}} -
        {% for rel in value %}
        <b>{{rel.right_subject.title}}</b>

	   <a class="deleterelation" value="{{rel.id}}" id = "{{rel.id}}" title="delete {{rel.right_subject.title}}" onclick='relationfunction("{{rel.id}}");' > <img src="/static/gstudio/js/orgitdown/orgitdown/sets/org/images/close.jpeg" width = 8px; style="vertical-align: super;"/></a>

	{% if not forloop.last %},{% endif %}
        {% endfor %}
	   ;
        {% endfor %}

</div>
