1;3201;0c
{% extends "gstudio/base.html" %}
{% block content %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" >
      $(window).load(function() {
      $("#content").css({
    "width": "1000px",});});
$(window).load(function() {
 $("#chart").hide();});
$(window).load(function() {

 $("#graphcss").hide();
  });
$("#topicaddsave").hide();
$("#topicsubmit").hide();
</script>

<h1>Add a new Twist</h1>
{% if errors %}
<ul>
{% for error in errors %}
<li><font color="red">{{ error }}</font></li>
{% endfor %}
</ul>
{% endif %}

<form action="" method="post">{% csrf_token %}
<p>Name : <input type="text" name="subject"></p>
<p>Description: <textarea name="message" id="contenttext" rows="10" cols="50" style="display:none" ></textarea></p>
<!-- style="display:none;" -->

<input type="button" id="topicaddcontent"  name="content" value="Add Description">
<input type="button" id="topicaddsave" name="savecontent" value="Save" style="display:none">

<input type="hidden" value={{user.id}} name = "idusr">
<input type="hidden" value={{user.username}} name = "usr">
<input type="submit" id="topicsubmit" value="Submit" style="display:none">
</form>

{% endblock %}
