
  var vis = d3.select("#chart")
        .append("svg:svg")
	.attr("id", "amazingViz") 
        .attr("width", p)
        .attr("height", q);

    vis.append("svg:g").attr("class", "edges");        
    vis.append("svg:g").attr("class", "nodes");
  

  

	
	nodes_by_id[key].x = w/2.0;
	nodes_by_id[key].y = h/2.0;
      
 

	       
    var force = d3.layout.force()
              .linkStrength(1)
              .charge(-4000)
              .friction(0.7)
              .gravity(0.4)
              .linkDistance(50)
              .nodes([])
              .links([])
              .size([w, h])
              .start();

      function update(edges){
        // for each func
        _.each(nodes_by_id, function(n){n.added = false});
        // reduce the nodes list to have only those nodes for a given rel.
      nodes = _.reduce(edges, function(acc, e) {
          if(nodes_by_id[e.from] && !nodes_by_id[e.from].added){
            nodes_by_id[e.from].added = true;
            acc.push(nodes_by_id[e.from]);
          }
          if(nodes_by_id[e.to] && !nodes_by_id[e.to].added){
            nodes_by_id[e.to].added = true;
            acc.push(nodes_by_id[e.to]);
          }       
          return acc;
        }, []);
        
        force.nodes(nodes);
        force.links(edges);
        force.start();




        link = d3.select("#chart g.edges").selectAll("line.link").select(this.arrowhead)
                .data(edges, function(e){return e.from + "-" + e.to + "-" + e.type});
                
                link.enter().append("svg:line")
                .attr("class", "link")
                .style("stroke-width", 2 /* function(d) {
                  return Math.sqrt(d.value);
                } */ )
                .attr("x1", function(d) {
                  return d.source.x;
                })		
                .attr("y1", function(d) {
                  return d.source.y;
                })
                .attr("x2", function(d) {
                  return d.target.x;
                })
                .attr("y2", function(d) {
                  return d.target.y;
                })
                .attr("text", function(d) {
                  return d.type;
                })
		.attr("marker-end", "url(#arrowhead)");

		


	     
          
	  var node = d3.select("#chart g.nodes").selectAll("g.node").data(nodes);  

	    

 
          var new_g = node.enter().append("svg:a")
              .attr("class", function(d) { var e=(d._id).charAt(0); if (d._id==key) return "mainnode"; else if (e=="-") return "nodetext"; else if (isNaN(d._id)) return "relnode"  ; else return "node"; })   	      
	    
	      .call(force.drag);



		new_g.append("svg:marker")
                                .attr("id", "arrowhead")
                                .attr("viewBox","0 0 10 10")
                                .attr("refX","20")
                                .attr("refY","5")
                                .attr("markerUnits","strokeWidth")
                                .attr("markerWidth","9")
                                .attr("markerHeight","5")
                                .attr("orient","auto")
                                .append("svg:path")
                                .attr("d","M 0 0 L 10 5 L 0 10 z")
                                .attr("fill", "#6D6666"); 


$(window).bind('keydown',function(event) {
		if(event.keyCode==17){
		 
		 new_g.on("click",function(d){                  
                               
                               
		                 
				
                if(d._id>0 && d.expanded=="true" && d._id!= {{object.id}})
				{ 
				
                                $.getJSON('/nodetypes/graphs/graph_json/' + d._id , function (json2) {
					new_metadata=json2.node_metadata;

 				});
                         	
                               _.filter(new_metadata, function(e){if(e._id>0) 
				{
				  clicked_node=clicked_node.concat(e._id) ;   
                                 }
                                });
				
				
 				index = _.indexOf(neighbour_node , d._id);
				prev_node=neighbour_node.slice(0,index);
				
				 neighbour_node = _.difference(neighbour_node,clicked_node) ;
				
                                neighbour_node= neighbour_node.concat(prev_node);
				neighbour_node = _.uniq(neighbour_node);
				metadata=[]
				relations=[]
			        metadata1=[]
				relations1=[]
					for(i=0;i<(neighbour_node.length);i++)
					{
                 
					d3.select("#amazingViz").remove();  
                                         g=neighbour_node[i]			
                                        
	    				
					
					$.ajax({
					async:false,
					url:'/nodetypes/graphs/graph_json/' + g , 
					datatype:'json',
					success:function (json2) {
	    			new_metadata=json2.node_metadata;
	  			new_relations=json2.relations;	
				metadata=_.union(new_metadata,metadata);
						
				relations=_.union(new_relations,relations);
				relations= check_Relationtype(metadata,relations); 
				}});						     			
							
			}
				_.each(metadata, function(m){
				
				  for(i=0;i<neighbour_node.length;i++)
				  	{
					if(m._id==neighbour_node[i])
						{m.expanded="true";}
					else 
						{m.expanded="false";}
					}
					   
                                
                                });
				
         			init(metadata,relations);
				load({{object.id}}) ;                        

 				
	
                            }

        


		else if(d._id>0 && d._id!= {{object.id}})
				{
                                
				neighbour_node =neighbour_node.concat(d._id);
				
				d3.select("#amazingViz").remove();  
				
				$.ajax({
					async:false,
					url:'/nodetypes/graphs/graph_json/' + d._id , 
					datatype:'json',
					success:function (json2) {
				
	    			new_metadata=json2.node_metadata;
	  			new_relations=json2.relations;	
						
				metadata=_.union(new_metadata,metadata);
				relations=_.union(new_relations,relations);	
                                relations= check_Relationtype(metadata,relations);
				_.each(metadata, function(m){
				
				  for(i=0;i<neighbour_node.length;i++)
				  	{
					if(m._id==neighbour_node[i])
						m.expanded="true";
					}
				});
					   
                                
                                }});
				console.log(metadata);
				init(metadata,relations);
				load({{object.id}});


				
					
				}
});
}

});         




	new_g.on("click", function(d) {

		new_g.attr("xlink:href",function(d){return d.url;});
		});	


  	  


			
		text1 = new_g.append("svg:text")
			.attr("class",function(d) {var e=(d._id).charAt(0);  if (d._id==key) return "mainnode";else if (e=="-") return "nodetext"; else if (isNaN(d._id)) return "relnode";  else return "node"; })
                        .attr("y", 20)
	                .attr("x", 25) 
			.attr("dy", ".35em")
                        .attr("text-anchor","middle") 
			
                       
                        .text(function(d) {
                          return d.screen_name;
                        });  
			
                bbox = text1.node().getBBox();
		console.log(bbox);

		new_g.filter(function(d) { return (d._id).charAt(0)=="-"; }).append("svg:rect")
                                                      .attr("x",bbox.x-22)
						      .attr("y", bbox.y)	
						       .attr("width", function(d) {var ttx=d.screen_name ; return (ttx.length+bbox.width+50)})
							.attr("height", bbox.height)
						      .call(force.drag)
				    		      .style("fill-opacity", ".1")
				                      .style("stroke", "#000")
				 		      .style("stroke-width","1px"  );
				    		      
							




		new_g.filter(function(d) { return (d._id)>0;}).append("svg:ellipse")
				    .attr("cx", bbox.x+25)
				    .attr("cy", bbox.y+13)
				    .call(force.drag)
				    .attr("rx",function(d) {var ttx=d.screen_name ; return (ttx.length + 70)})
				    .attr("ry",13)
				    .style("fill-opacity", "0.3")
				    .style("stroke", "white")
				    .style("stroke-width", "0.0px")
				    .style("fill", function(d) {if ((d.expanded=="true" && d.refType=="Objecttype") ||(d._id=={{object.id}}) ) return "blue"; else if(d.expanded=="true" && d.refType=="Gbobject") return "red"; else return "none"});





           	node.exit().remove();
	

        force.on("tick", function() {

          var x_center = $("#chart").width() / 2;
          var y_center = $("#chart").height() / 2;

          link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

          node.attr("transform", function(d) { return "translate(" + (d.x-16) + "," + (d.y-16) + ")"; });

        });
      }

         
	
	update(all_edges);

      vis.style("opacity", 1e-6)
              .transition()
              .duration(1000)
              .style("opacity", 1);
      
  



}

function check_Relationtype(metadata,relations)
{

	
		_.each(metadata,function(d){
						    if (d.refType=="Relationtype")
							{ 
							  a=d.inverse;
							  if (d.flag==1)
							  {
							  	relations= _.reject(relations,function(e)
										     {
											return e.type==a
										     });
							  }
						          else if (d.flag==0)
							  {
							  	relations= _.reject(relations,function(e)
										     {
											return e.type==d.screen_name
										     });
							  }
							}
							 
						 }); 
return relations;


}


});

</script>

				</div>
		</div>
				
				
				<div id="footer">
					<p> 

						<a rel="license"
						href="http://creativecommons.org/licenses/by-sa/3.0/" title="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative
						Commons License" style="border-width:0"	src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png"/></a> All material is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" title = "http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a> unless mentioned otherwise.
						<br/>
						Powered	by <a href="http://www.djangoproject.com" title="https://www.djangoproject.com/">Django</a>
						and <a href="https://github.com/gnowgi/gnowsys-studio" title="https://github.com/gnowgi/gnowsys-studio">Gstudio
						{{ GSTUDIO_VERSION }}</a>.
					</p>
				</div>
		
	
	</body>
</html>
