.orgitdown .orgitdownButton1 a {
	background-image:url(images/bold.png);
}
.orgitdown .orgitdownButton2 a {
	background-image:url(images/italic.png);
}
.orgitdown .orgitdownButton3 a {
	background-image:url(images/stroke.png);
}

.orgitdown .orgitdownButton4 a {
	background-image:url(images/list-bullet.png); 
}
.orgitdown .orgitdownButton5 a {
	background-image:url(images/list-numeric.png);
}

.orgitdown .orgitdownButton6 a {
	background-image:url(images/picture.png); 
}
.orgitdown .orgitdownButton7 a {
	background-image:url(images/link.png);
}

.orgitdown .orgitdownButton8 a {
	background-image:url(images/clean.png);
}
.orgitdown .preview a {
	background-image:url(images/preview.png);
}
