{% extends "gstudio/base.html" %}
{% load i18n comments gstudio_tags %} 
{% load adminmedia grp_tags %}
{% load gstudio_tags %}
{% load pagination_tags %}
{% load i18n objectapp_tags %}
{% load tagging_tags comments i18n %}

<!-- {% load i18n %} -->
{% block content %}
<style>
<link href="{% admin_media_prefix %}css/base.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}gstudio/css/screen.css" />
</style>
<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" >
      $(window).load(function() {
      $("#content").css({
    "width": "1000px",});});
$(window).load(function() {
 $("#chart").hide();});
$(window).load(function() {
 
 $("#graphcss").hide();   
  });
$(window).load(function() {
 
 $(".savepagecontent").hide();
 $("#saveseccontent").hide();
 $("#savesubsec").hide();
 $("#savesubsec1").hide();
 $(".submitresponse").hide();
 $(".saveseccontent").hide();
 $(".savesubsec").hide();
 $(".submitsubsec").hide();
 $(".pagedit").hide()
$(".savesubsec1").hide();
 $(".submitsubsec1").hide();
  });

</script>


{% autopaginate section 1 %}
   <!-- <input type="button" value="Home" onClick="location.href='/gstudio/user/wikipage/{{user.username}}';"> -->
   <h1>{{ page_ob.title }}</h1> 
  Wikipage posted on : {{page_ob.creation_date}}
		by {% for author in page_ob.authors.all %} 
   			{{author}}
   		{% endfor %}</br></br>

   {% with page_ob.html_content|safe as page_ob_content %}
   <font size="3"> 
                {{page_ob_content}}</font>
   {% endwith %}
	{% if user.is_authenticated %}
	<form method="post" action="">{% csrf_token %}
	<input type="hidden" class="reptext" name="replytosection" id="sectionreply" style="visibility:hidden;"/></br>
	<input type="hidden" class="editval" name="edit" value="empty"/>
	<input type="hidden" value="{{page_ob.id}}" name = "iden">
	<input type="hidden" value="{{user.username}}" name ="usr">
	<input type="hidden" value="{{user.id}}" name = "idusr">
	<input type="button" class="editpagecontent" name="{{page_ob.content_org}}" value="Edit"/>
	<input type="button" class="savepagecontent" name="{{page_ob.id}}" value="Save"/></br>
	<input type="submit" class="pagedit" value="Submit"/>
       </form>
	
       <form method="post" action="">{% csrf_token %}
       	 <input type="hidden" name="docid" value={{page_ob.id}}>
       	 <input type="text" class="tagtext" value="" name="texttags"  />
       	 <input type="submit" class="tag" value="Add Tags" name="addtags" />
       </form>
	{% endif %}
       <br>
       <div class="tags">
       	 <p class="gbobject-tags span-16 last">
       	   <strong>{% trans "Tags" %}</strong> :
       	   {% tags_for_object ot as tag_list %}
       	   {% for tag in tag_list %}
       	   <a href="{% url objectapp_tag_detail tag %}"
              title="Tag {{ tag }}" rel="tag">{{ tag }}</a>
       	   {% empty %}
       	   <span>{% trans "No tags" %}</span>
       	   {% endfor %}
       	 </p>
       </div>
	</br>
		{% if user.is_authenticated %}
	<form method="post" action=".">{% csrf_token %}
	<input type="button" id="newsection1"  value="Add a new Section" onClick="location.href='sectionadd1/{{page_ob.id}}';">
	<input type="hidden" id="pageid1" value="{{page_ob.id}}"/>
        </form>
	{% endif %}
</br>   {% autoescape off %}

   {% for each in section %}
      	<h4><font size="6">{{each.title}}</h4></font>
	  Posted on : {{each.creation_date}}
	  by {% for author in each.authors.all %} 
	  {{author}}
	  {% endfor %}</br>
     	{% ifequal each.rating.get_rating 0 %}
	<h5> Not yet rated </h5>
	{% else %}
	Current rating is <h5>{{ each.rating.get_rating }}</h5>
	{% endifequal %}
   	{%autoescape on%}
	 {% with each.html_content|safe as each_content %}
	<font size="3"> 
		{{each_content}}</font>
	{% endwith %}
	{% endautoescape%}
		{% if user.is_authenticated %}
	<form method="post" action="">{% csrf_token %}
	<input type="hidden" class="reptext" name = "replytosection" id="sectionreply" style="visibility:hidden;"/></br>
	<input type="hidden" value="{{each.id}}" name = "iden">
	<input type="hidden" value="{{user.username}}" name ="usr">
	<input type="hidden" value="{{user.id}}" name = "idusr">
	<input type="hidden" class="editval" name="edit" value="empty"/>
	<input type="button" class="editseccontent" name="{{each.content_org}}" value="Edit"/>
	<input type="button" class="saveseccontent" name="{{each.id}}" value="Save"/>
	<input type="submit" class="submitresponse" value="Submit"/>
       </form>
       <form method="post" action="">{% csrf_token %}
	 <input type="hidden" name="docid" value={{each.id}}>
	 <input type="text" class="tagtext" value="" name="texttags"  />
	 <input type="submit" class="tag" value="Add Tags" name="addtags" />
       </form>
	{% endif %}
       <br>
       <div class="tags">
	 <p class="gbobject-tags span-16 last">
	   <strong>{% trans "Tags" %}</strong> :
	   {% tags_for_object each as tag_list %}
	   {% for tag in tag_list %}
	   <a href="{% url objectapp_tag_detail tag %}"
              title="Tag {{ tag }}" rel="tag">{{ tag }}</a>
	   {% empty %}
	   <span>{% trans "No tags" %}</span>
	   {% endfor %}
	 </p>
       </div>
		{% if user.is_authenticated %}
	<form method="post" action=".">{% csrf_token %}<br/>
        	 Create Subsection:
	        <input type="hidden" name = "replytosection" class="reptext" style="visibility:hidden;"/></br>
    		<input type="hidden" value="{{each.id}}" name = "iden">
		<input type="hidden" value="{{user.username}}" name ="usr">
	    	<input type="hidden" value="{{user.id}}" name = "idusr">
		<input type="button" value="Create Subsection" class="createsubsection">
 		<input type="hidden" value="empty" name = "edit" class="editval"/>

		<input type="button" value="save" class="savesubsec" name="{{each.id}}">
		<input type="submit" class="submitsubsec" value="Submit" ></br>

	       </br></br><input name="del_section" class="chkbox" type="checkbox" value="delete_section"/> 
  		<input type="submit" class="deletesec" value="Delete the section"></br>
		<div id="rating">
         	Do you wanna rate it ? </br>
		<input name="star1" type="radio" value=1 class="star"/>
		<input name="star1" type="radio" value=2 class="star"/>
		<input name="star1" type="radio" value=3 class="star"/>
		<input name="star1" type="radio" value=4 class="star"/>
		<input name="star1" type="radio" value=5 class="star"/>
		<!--topic id and user id hidden fields-->
		
		<input type="submit" value="Rate it!!!">
		</div>
         </form>
	{% endif %}
	</br>
        <p>
	 Subsections :
	<!-- <div id="main"> -->
	<!-- <div id="sidetree"> -->
	<!-- <div class="treeheader">&nbsp;</div> -->
 	<!-- <a href="?#">Expand All</a> </div> -->
	<!-- <ul class="treeview" id="tree"> -->
 	<!-- <li class="expandable"><div class="hitarea expandable-hitarea"></div>Expand the replies</li></ul></div> -->
        {% show_commentpage each user.id flag1 admin_id attribute  %}
     {% endfor %}
{% endautoescape %}


{% block nodetype-comments %}
<div id="comments" class="">
  <h5>{% trans "Comments" %}</h5>
  {% with page_ob.comments as comment_list %}
  {% if comment_list.count %}
  <ol id="comment-list" class="span-15 last">
    {% for comment in comment_list %}
    <li id="comment_{{ comment.pk }}" class="comment vcard {% cycle box1,box2 %}{% if comment.user in page_ob.authors.all %} post-author{% endif %} span-15 last">
      <div class="span-2">
<img src="{% get_gravatar comment.email 60 "G" %}" class="gravatar photo" alt="{{ comment.user_name }}"/>
      </div>
      <div class="comment-body span-13 last">
<div class="comment-author span-13 last">
{% if comment.url %}
<a href="{{ comment.url }}" class="fn url" title = "{{ comment.user_name }}">{{ comment.user_name }}</a>
{% else %}
{{ comment.user_name }}
{% endif %}
{% trans "on" %} {{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}
</div>
<div class="span-13 last">
{{ comment.comment|linebreaks }}
</div>
      </div>
    </li>
    {% endfor %}
  </ol>
    {% if not page_ob.comments_are_open %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% else %}
    {% if page_ob.comments_are_open %}
  <p>{% trans "No comments yet." %}</p>
    {% else %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% endif %}
  {% endwith %}
</div>
{% endblock %}
<div class="commentForm span-16 last">
  {% render_comment_form for ot %}
</div>

{% paginate %}

{% endblock %}

