{% extends "gstudio/base.html" %}
{% load gstudio_tags %}
{% load i18n %}
{% block title %}Wikipages{% endblock %}
{% block content %}



  
<p> Here is a list of all the pages:</p>
</br>
	{% if user.is_authenticated %}
    <input type="button" value="Create a new page" onClick="location.href='pageadd/';">
	<br/>
	{% endif %}
    {% for each in pages.member_systems.all %}
    <a href="/gstudio/page/gnowsys-page/{{each.id}}/">{{each.title}}</a></br>
    {% endfor %}
	{% if user.is_authenticated %}
    <input type="button" value="Create a new page" onClick="location.href='pageadd/';">
	{% endif %}
    </p>
    <p>
    </br>




{% endblock %}
